<div class="container">
    <form name="myForm" ng-submit="HomeController.submit">
        <label class="control-label col-sm-2">Service</label>
        <select>
            <option>New</option>
            <option>Existing</option>
        </select>
        <label class="control-label col-sm-2">First Name</label>
        <input class="userInput"  type="text"/>
        <label class="control-label col-sm-2"> Last Name</label>
        <input class="userInput" type="text" />
        <label class="control-label col-sm-2">Email</label>
        <input class="userInput" type="text" />
        <label class="control-label col-sm-2">Phone Number</label>
        <input class="userInput" type="text" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

